<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Guia de Perguntas</title>
    <!--  Primeiro vêm o bootstrap dps o css costumizado -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>